<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
  
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Baadaye</h1>
      </a>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="#" routerLink="/" routerLinkActive="">Home</a></li>
          <li><a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a class="nav-link" href="#" routerLink="campaigns" routerLinkActive="active">Campaigns</a></li>
          <li><a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact us</a></li>
          <li><a class="nav-link" href="#" routerLink="/register" routerLinkActive="active">Register</a></li>
          <li><a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav>
    </div>
  </header>