<section id="services" class="services">
    <div class="container" >

      <div class="section-header">
        <h3 class="campaign-main-header">Log or Sponsor a campaign by choosing one of these three categories</h3>
        <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores adipisci aliquam.</p>
      </div>

      <div class="row gy-5">
        <div class="col-xl-4 col-md-6" *ngFor="let camp of compaignData">
          <app-campaign-categories [title]=camp.title [id]=camp.id ></app-campaign-categories>
       </div>
      </div>

    </div>
  </section>
  <!-- data-aos="zoom-in" data-aos-delay="300" 
  data-aos="fade-up" -->