<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <br />
      <div class="section-header">
        <h3 class="campaign-main-header">Sponsor Campaign > {{category}}</h3>
        
        <p>You are sponsoring funds for a compaign logged by a school</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200" *ngFor="let camps of campaigns">
          <div class="service-item">
            <div class="img">
              <img src="{{camps.image}}" class="img-fluid" alt="">
            </div>
            <div class="details1 position-relative">
              
              <div href="#" class="stretched-link">
                <h5>{{camps.title}}</h5>
              </div>
              <p class="color-white">{{camps.address}}<br />{{camps.decription}}<br /><br />Raising {{camps.amount}}</p>

              <a class="btn-getstarted btn btn-warning" href="#" routerLink="/capaign-sponsor/{{camps.id}}">Sponsor Campaign</a>
              
              <span class="ml-8 color-green font-weight-bold" *ngIf="camps.status">Active</span>
              <span class="ml-8 color-red font-weight-bold" *ngIf="!camps.status">Expired</span>
      
            </div>
          </div>
        </div>

       
      </div>

    </div>
  </section>