<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <br />
        <div class="section-header">
            <h3 class="campaign-main-header">Sponsor Campaign > {{category}} > {{data.title}}</h3>

            <p>You are viewing logged campaign</p>
        </div>

        <div class="row gy-5">

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img src="{{data.image}}" class="img-fluid" alt="">
                    </div>
                    <div class="details1 position-relative">



                        <!-- <a class="btn-getstarted btn btn-warning" href="#" routerLink="/campaigns/3">Sponsor Campaign</a>
              
              <span class="ml-8 color-green font-weight-bold" *ngIf="camps.status">Active</span>
              <span class="ml-8 color-red font-weight-bold" *ngIf="!camps.status">Expired</span> -->

                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-6 bg-black p-14">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div href="#" class="stretched-link">
                            <h5>{{data.title}}</h5>
                            <p class="color-white">{{data.address}}</p>
                            <h5 class="color-white">Total Funding Needed R{{data.amount}}</h5>

                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <p class="color-white">Category: {{category}}</p>
                        <p class="color-white">Start Date: {{data.startDate}}</p>
                        <p class="color-white">End Date: {{data.endDate}}</p>
                    </div>
                </div>
                <p class="color-white">Funds Raised : R{{data.fundRaised}}
                    <span class="ml-8"></span>
                    <span class="ml-8"></span>
                    Funds Left : R{{data.fundeLeft}}
                </p>
                <div class="progress form-group">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width.%]="progress">
                    </div>
                </div>
            </div>




        </div>
        <br />
        <br />
        <div class="row bg-gray p-14">
            <div class="col-xl-8 col-md-6">
                <h4>SELECT YOUR CONTRIBUTION</h4>
                <br />
                
                <ngx-slider [(value)]="value" [options]="options" (mouseup)="sliderEvent()"></ngx-slider>

            </div>
            <div class="col-xl-4 col-md-6">

            </div>

            <div class="col-xl-8 col-md-6">
               
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="row">
                    <div class="col-1">
                        <h2>R</h2>
                    </div>
                    <div class="col-3">
                        <input type="number" class="form-control" [value]="value" step="0.1" />
                    </div>
                    <div class="col-8">
                        <button class="btn-getstarted btn btn-warning">Sponsor Campaign</button>
                    </div>
                </div>
                
                
            </div>
           
        </div>

    </div>
</section>