/* You can add global styles to this file, and also import other style files */
.center-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
  
    background: var(--color-secondary);
    // background-color: #3a4753;
}
.campaign-main-header{
    color: var(--color-yellow)
}
.stretched-link{
    color: var(--color-white)
}
.stretched-link::after {
    position: relative !important;
}
.pointer{
    cursor: pointer;
}
.color-white{
    color: white;
}
.color-green{
    color: var(--color-green);
}
.color-red{
    color: var(--color-red);
}
.bg-black{
    background-color: black;
}
.bg-gray{
    background-color: gray;
}
.ml-8{
    margin-left: 8px;
}
.p-14{
    padding: 14px;
}
.progress-bar-striped{
    background-color: var(--color-yellow) !important;
    background-size: 0rem 1rem !important;
}
.progress{
    background-color: var(--color-red) !important;
}
