<!-- <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300"> -->
    <div class="service-item">
        <div class="_img">
         
          <img src="assets/img/services-2.jpg" width="200px" height="200px" class="img-fluidu center-item rounded-circle" alt="">
        </div>
        <div class="details1x text-center">
          
          <div class="stretched-link">
            <h4>{{title}}</h4>
          </div>
          <button class="btn-getstarted btn btn-warning pointer" href="#" >Log Campaign</button>
          
          <br />
          <br />
          <a class="btn-getstarted btn btn-warning" href="#" routerLink="/campaigns/{{id}}">Sponsor Campaign</a>
      
        </div>
      </div>
      <!-- </div> -->